<div class="header">
  <div class="left-section">
    <img class="hamburger-icon" src="../../assets/header-icons/hamburger-menu.svg">
    <img class="youtube-icon" src="../../assets/header-icons/youtube-logo.svg">
  </div>

  <div class="middle-section">
    <input class="search-bar" type="text" placeholder="Search">
    <button class="search-button">
      <img class="search-icon" src="../../assets/header-icons/search.svg">
    </button>
    <button class="voice-button">
      <img class="voice-icon" src="../../assets/header-icons/voice-search-icon.svg">
    </button>
  </div>

  <div class="right-section">
    <button class="upload-button">
      <img class="upload-icon" src="../../assets//header-icons/upload.svg">
    </button>
    <button class="youtube-app-button">
      <img class="youtube-app-icon" src="../../assets//header-icons/youtube-apps.svg">
    </button>
    <button class="notifications-button">
      <img class="notifications-icon" src="../../assets//header-icons/notifications.svg">
    </button>
    <button class="profile-button">
      <img class="profile-icon" src="../../assets//header-icons/sykunnoprofile.jpg">
    </button>
  </div>
</div>