<input class="search-bar" type="text" placeholder="Search">

<div class="video-preview">
  <div>
    <img class ="thumbnail" src="../../assets/thumbnails/hq720_live.webp">
  </div>
  
  <div>
    <p class="video-title">RANDOM STREM</p>
    <p class="author">Sykkuno</p>
    <p class="video-stats">229K views &middot; Streamed 2 days ago</p>  
  </div>
</div>

<div class="video-preview">
  <div>
    <img class ="thumbnail" src="../../assets/thumbnails/thumbnail2.webp">
  </div>
  
  <div>
    <p class="video-title">Aftonbuilt</p>
    <p class="author">Markiplier</p>
    <p class="video-stats">1.9M views middot 20 hours ago</p>  
  </div>
</div>

<!-- exercise - round thumbnail -->
<!-- <img class ="thumbnail-round" src="../../assets/thumbnails/hq720_live.webp"> -->