<input class="search-bar" type="text" placeholder="Search">

<div class="video-preview">
  <div class="thumbnail-row">
    <img class ="thumbnail" src="../../assets/thumbnails/hq720_live.webp">
  </div>
  
  <div>
    <div class="channel-picture">
      <img class= "profile-picture" src="../../assets//channel-profile/sykunnoprofile.jpg">
    </div>
    <div class="video-info">
      <p class="video-title">RANDOM STREM</p>
      <p class="video-author">Sykkuno</p>
      <p class="video-stats">229K views &middot; Streamed 2 days ago</p>  
    </div>
  </div>
</div>

<div class="video-preview">
  <div class="thumbnail-row">
    <img class ="thumbnail" src="../../assets/thumbnails/thumbnail2.webp">
  </div>
  
  <div>
    <div class="channel-picture">
      <img class= "profile-picture" src="../../assets//channel-profile/markiplier-profile.jpeg">
    </div>
    <div class="video-info">
      <p class="video-title"> HTML & CSS Full Course - Beginner to Pro (2022)</p>
      <p class="video-author">Markiplier</p>
      <p class="video-stats">1.9M views &middot; 20 hours ago</p>  
    </div>
  </div>
</div>

<!-- exercise - round thumbnail -->
<!-- <img class ="thumbnail-round" src="../../assets/thumbnails/hq720_live.webp"> -->