p {
    font-family: Roboto, Arial;
		margin-top: 0px;
		margin-bottom: 0px;
}

.search-bar {
	font-size: 15px;
	border-radius: 4px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
	display: block;
	margin-bottom: 50px;

	// border-width: 2px;
	// border-style: solid;
	// border-color: red;
}

.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 40px;
}

.video-preview {
	min-width: 300px;
}

.thumbnail-row {
	margin-bottom: 10px;
}

.thumbnail {
	width: 100%
	// keeps constraint unless you set both width and height
	// width: 300px;
	// display: block;
	

	// cover = crop image to fit specified dimension
	// contain = resize and keep contraint image to fit specified dimension
	// object-fit: contain;
	// object-position: center;

	// use this to visualize the elment's spacing
	// border-width: 2px;
	// border-style: solid;
	// border-color: red;
}

// .thumbnail-round {
// 	width: 300px;
// 	height: 300px;
// 	border-radius: 150px;
// 	object-fit: cover;
// 	object-position: center;
// 	border-width: 1px;
// 	border-style: solid;
// 	border-color: gray;
// }

.video-info-grid {
	display: grid;
	grid-template-columns: 50px 1fr;
}

.channel-picture {
	vertical-align: top;
}

.profile-picture {
	width: 80%;
	border-radius: 100%;
}

.video-title {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 20px;
	// margin-top: 10px;
}

.video-author {
	font-size: 12px;
	color: #606060;
	margin-bottom: 4px;
}

.video-stats {
	font-size: 12px;
	color: #606060;
}