p {
    font-family: Roboto;
}

.search-bar {
	font-size: 20px;
	border-radius: 4px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
	display: block;
	margin-bottom: 100px;

	// border-width: 2px;
	// border-style: solid;
	// border-color: red;
}

.video-preview {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}

.thumbnail {
	// keeps constraint unless you set both width and height
	width: 300px;
	// display: block;
	

	// cover = crop image to fit specified dimension
	// // contain = resize image to fit specified dimension
	// object-fit: contain;
	// object-position: center;

	// use this to visualize the elment's spacing
	// border-width: 2px;
	// border-style: solid;
	// border-color: red;
}

// .thumbnail-round {
// 	width: 300px;
// 	height: 300px;
// 	border-radius: 150px;
// 	object-fit: cover;
// 	object-position: center;
// 	border-width: 1px;
// 	border-style: solid;
// 	border-color: gray;
// }

.video-title {
	font-weight: 500;
	font-size: 16px;
}

.author {
	font-size: 12px;

}