<nav>
  <a routerLink="/youtube">Youtube</a>
</nav>

<nav>
  <a routerLink="/grid">Grid</a>
</nav>

<nav>
  <a routerLink="/position">Position</a>
</nav>

<nav>
  <a routerLink="/flexbox">Flexbox</a>
</nav>

<nav>
  <a routerLink="/button">Button</a>
</nav>

<nav>
  <a routerLink="/text">Text</a>
</nav>

<router-outlet></router-outlet>




<!-- <app-button></app-button> -->
<!-- <app-text></app-text> -->

<!-- <app-flexbox></app-flexbox>
<app-grid></app-grid>
<app-css-position></app-css-position> -->

