
<div class="button-logic">
    <button
        type = "button"
        [disabled]="!canClick"
        (click)="sayMessage()"> 
        {{message}}
    </button>
    
    <button
        type = "button"
        (click) = "onEditClick()">
        {{controller}}
    </button>
</div>

<div class="styled-practice">

    <button class="subscribe-button">
        {{"subscribe" | uppercase}}
    </button>

    <button class="join-button">
        {{"join" | uppercase}}
    </button>
    
    <button class="tweet-button">
        Tweet
    </button>
</div>