/* You can add global styles to this file, and also import other style files */
body { 
    margin: 0;
    font-family: Roboto;
    padding-top: 80px;
    padding-left: 90px;
}

input {
    font-family: Roboto, Arial;
}